extends layout.jade

block content
    .navigation
        .item Факты
        .item Вопросы
        .item Правила
        .play
            img(src='/img/play.svg')
    .content
        .tab.facts
            .column
                .header
                    span Объекты
                    .add
                .items
            .column
                .header
                    span Атрибуты
                    .add
                .items
            .column
                .header
                    span Значения
                    .add
                .items
        .tab.questions
            .column.active
                .header
                    span Вопросы
                    .add
                .items
        .tab.rules
            .column.active
                .header
                    span Правила
                    .add
                .items

block code
    script(src!='/js/script.js')
    script(src!='/js/Base.js')
    script(src!='/js/Utils.js')
    script(src!='/js/facts.js')
    script(src!='/js/questions.js')
    script(src!='/js/rules.js')
