doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='user-scalable=0, initial-scale=1.0')
        title AI Lab 1
        link(href!='/node_modules/normalize.css/normalize.css', property='stylesheet', rel='stylesheet')
        //link(href!='/style/lib/reset.css', property='stylesheet', rel='stylesheet')
        link(href!='/style/style.css', property='stylesheet', rel='stylesheet')
    body
        block content

        //- Libs
        script(src!='/node_modules/jquery/dist/jquery.min.js')
        script(src!='/js/lib/jquery.mouseReaction.js')
        //- Code
        block code
