@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'), url('/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Light'), url('/fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Semibold'), url('/fonts/OpenSans-Semibold.woff') format('woff');
}