@import "mixins";
@import "constants";
@import "fonts";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', serif;
}

button.primary, button.extra {
    padding: 0 20px;
    &.primary {
        border: none;
        background: black;
        color: white;
    }
    &.extra {
        border: 1px solid black;
        background: white;
        color: black;
    }
    transition: opacity 0.25s ease;
    &:disabled {
        opacity: 0.3;
    }
    &:hover:not(:disabled) {
        opacity: 0.7;
    }
}

.navigation {
    background: black;
    .clearfix();
    & > .item {
        @border-width: 4px;

        float: left;
        text-transform: uppercase;
        color: white;
        line-height: @nav-height - 2 * @border-width;
        padding: 0 50px 2 * @border-width;
        font-family: 'Open Sans Light', serif;
        font-size: 22px;
        &.current {
            border-bottom: @border-width solid @orange-color;
            padding-bottom: @border-width;
            color: @orange-color;
        }
        &:not(.current):hover {
            cursor: pointer;
            border-bottom: 2 * @border-width solid @orange-color;
            padding-bottom: 0;
        }
    }
    & > .play {
        float: left;
        height: @nav-height;
        padding: 12px 20px;
        & > img {
            height: 100%;
        }
        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }
}

.content {
    position: absolute;
    top: @nav-height;
    left: 0;
    right: 0;
    bottom: 0;
    & > .tab {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 0;
        &.visible {
            display: block;
            z-index: 100;
        }
        & > .column {
            float: left;
            height: 100%;
            border-right: 1px solid black;
            text-align: center;
            padding: 0 20px;
            &:last-child {
                border-right: none;
                & > .items > div:hover {
                    cursor: default;
                }
            }
            & > .header {
                position: relative;
                text-transform: uppercase;
                font-size: 20px;
                line-height: 40px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                font-family: 'Open Sans Semibold', serif;
                & > .add {
                    opacity: 0;
                    @size: 24px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -@size / 2;
                    width: @size;
                    height: @size;
                    background-image: url('/img/add.svg');
                    background-size: contain;
                    transition: opacity 0.25s ease;
                }
            }
            & > .items > div {
                .clearfix();
                line-height: 30px;
                position: relative;
                & > .delete {
                    opacity: 0;
                    @size: 16px;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin-top: -@size / 2;
                    width: @size;
                    height: @size;
                    background-image: url('/img/delete.svg');
                    background-size: contain;
                    transition: opacity 0.25s ease;
                }
                & > .edit {
                    opacity: 0;
                    @size: 16px;
                    position: absolute;
                    right: 10px + 10px + @size;
                    top: 50%;
                    margin-top: -@size / 2;
                    width: @size;
                    height: @size;
                    background-image: url('/img/edit.svg');
                    background-size: contain;
                    transition: opacity 0.25s ease;
                }
                &:hover {
                    cursor: pointer;
                    & > .delete {
                        opacity: 1;
                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }
                    & > .edit {
                        opacity: 1;
                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }
                }
                &:nth-child(2n) {
                    background: rgba(0, 0, 0, 0.05);
                }
                &.current {
                    background: @orange-color;
                    color: white;
                }

                &.editable {
                    padding: 10px;
                    & > button.icon {
                        display: block;
                        float: right;
                        border: none;
                        background-color: transparent;
                        background-size: contain;
                        @size: 24px;
                        margin-top: (30px - @size) / 2;
                        width: @size;
                        height: @size;
                        &.decline {
                            background-image: url('/img/decline.svg');
                        }
                        &.accept {
                            margin-left: 10px;
                            background-image: url('/img/accept.svg');
                        }
                    }

                    @height: 30px;
                    select {
                        height: @height;
                        border: 1px solid black;
                        margin-right: 10px;
                        -webkit-appearance: menulist-button;
                        background: white;
                    }
                }
            }
            opacity: 0.3;
            transition: opacity 0.25s ease;
            &.active {
                opacity: 1;
                & > .header:hover > .add {
                    opacity: 1;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.tab.facts {
    & > .column {
        width: 100% / 3;
    }
}

.tab.questions {
    & > .column {
        width: 100%;
        & > .items {
            & > .editable {
                @height: 30px;
                & > input, & > select {
                    display: block;
                    float: left;
                    height: @height;
                    border: 1px solid black;
                }
                & > input {
                    border-radius: 4px;
                    margin-right: 20px;
                    width: 50%;
                }
                & > select {
                    width: 15%;
                }
            }
        }
    }
}

.tab.rules {
    & > .column {
        width: 100%;
        & > .items > .editable {
            select {
                margin-bottom: 10px;
            }
            button.primary, button.extra {
                margin-right: 10px;
            }
        }
    }
}

.questions-container {
    position: absolute;
    width: 100%;
    height: 100%;
    & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > * {
            display: block;
            text-align: center;
        }
        & > span {
            margin-bottom: 20px;
        }
        & > button {
            margin-top: 20px;
            width: 200px;
        }
    }
}